Package: com.level3tjg.telegramnoseparators
Name: TelegramNoSeparators
Version: 0.0.1
Architecture: iphoneos-arm
Description: Remove table view cell separators from Telegram
Depiction: https://level3tjg.xyz/repo/depictions/?p=com.level3tjg.telegramnoseparators
Maintainer: level3tjg
Author: level3tjg
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
